.layout__container-initialPage {
    background-color: #0b1118;
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.layout__main-initialPage {
    background-color: #1c2833;
    width: 100%;
    max-width: 900px;
    border-radius: 1.5rem;
    padding: 4rem;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.header-wizard {
    text-align: center;
    margin-bottom: 4rem;
}

.header-wizard .site-title {
    font-size: 3.5rem;
    color: #3498db;
    margin-bottom: 0.5rem;
}

.wizard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.wizard-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group-row {
    display: flex;
    gap: 1rem;
}

/* Estilo de la Dropzone para la foto */
.dropzone {
    border: 2px dashed #34495e;
    border-radius: 1rem;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    background: #0b1118;
}

.dropzone:hover { border-color: #3498db; background: #131c26; }

.dropzone-content {
    text-align: center;
    color: #afaaaa;
}

.dropzone-content i { font-size: 3rem; margin-bottom: 0.5rem; display: block; }

.img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-finalizar:hover { background-color: #2980b9; transform: translateY(-2px); }

@media (max-width: 768px) {
    .wizard-grid { grid-template-columns: 1fr; }
    .btn-finalizar { grid-column: span 1; }
}