


/* Estructura Principal */
.page-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Menú de 250px y resto para contenido */
  min-height: 100vh;
}

/* Panel Lateral (Aside) */
.menu-panel {
  background-color: #0b1118; /* Un poco más oscuro para contraste */
  min-width: 250px;
  padding: 2rem;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-enlace {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
  text-decoration: none;
  color: var(--text-muted);
  border-radius: 0.8rem;
  transition: 0.3s;
}

.menu-enlace:hover, .menu-enlace-activo {
  background-color: var(--primary-color);
  color: white;
}

.menu-enlace-salir{
   display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
  text-decoration: none;
  color: var(--text-muted);
  border-radius: none;
  transition: 0.3s;
 background-color:transparent;
border: none;
  width: 100%;
   cursor: pointer
}


/* style={{ background: 'none', border: 'none', width: '100%', cursor: 'pointer' }} */
.menu-enlace-salir:hover {
  background-color: red;
  color: white;
}


/* Contenido Principal */
.layout-content {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Actividad y Notificaciones en Columnas */
/* Aquí usamos grid para que Actividad y Notificaciones vivan lado a lado */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Actividad más ancha que notificaciones */
  gap: 4rem;

/* --- LOS CAMBIOS CLAVE --- */
  max-width: 1200px; /* Evita que se estire demasiado */
  margin: 0 3rem;    /* Centra el bloque entero horizontalmente */
  width: 100%;       /* Permite que sea responsivo en pantallas pequeñas */

}

/* Tarjetas de Actividad */
.activity-grid {
  background-color: var(--bg-card);
  padding: 2rem;
  border-radius: 1.5rem;
}

.activity-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.divider {
  width: 2px;
  background-color: var(--border-color);
  flex-grow: 1;
  margin: 0.5rem 0;
}

/* Estilo para las notificaciones */
.notification-row {
  background-color: var(--bg-card);
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-left: 4px solid var(--primary-color);
}




  .activity-section, .notifications-section {
  background-color: var(--bg-card); /* Fondo de tarjeta */
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.521);
  height: fit-content; /* Para que la tarjeta no sea más larga de lo necesario */
}

/* Ajuste para que el título de la sección quede bien */
.section-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--primary-color);
}