# Dependencias
node_modules/
**/node_modules/

# Variables de entorno (¡Muy importante!)
.env
**/.env
.env.local

# Compilaciones
dist/
build/

# Logs y archivos del sistema
npm-debug.log*
yarn-error.log*
.DS_Store

#ignoro las fotos de archivos temporales de mi proyecto de usuarios
backend/uploads/*
!backend/uploads/.gitkeep